# ==============================================================================
# BACKEND API_OBTENCION (NestJS) - VARIABLES DE ENTORNO
# ==============================================================================
PORT=3010

# Base de Datos Oracle SIGECOF
ORACLE_HOST=172.21.65.90
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=estatal
ORACLE_SID=cert_rep
ORACLE_USER=ONT_SIR_BOT
# NOTA DE SEGURIDAD: Encerrar SIEMPRE contraseñas en comillas dobles ("...").
# Si la contraseña contiene caracteres como '#', '$', '!', o espacios,
# el parser 'dotenv' truncará el valor interpretándolo como comentario si no tiene comillas.
ORACLE_PASSWORD="ONT_SIR_BOT123456"

# Base de Datos PostgreSQL (Usuarios, Depuración y Auditoría)
PG_HOST=10.78.30.63
PG_PORT=5432
PG_DATABASE=xmls
PG_USER=ont
PG_PASSWORD="123456"

# Seguridad y Autenticación JWT
JWT_SECRET="SIRONT_SECRET_KEY_2026_VENEZUELA"
JWT_EXPIRES_IN=4h

# Bot de Telegram para Conciliación Automática (Opcional)
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USERS=

# Capa de Inteligencia Artificial (Opcional)
LLM_API_KEY=
LLM_BASE_URL=https://api.deepseek.com/v1
LLM_MODEL=deepseek-chat
