# ==============================================================================
# SISTEMA DE CONCILIACIÓN Y ORQUESTACIÓN ONT - VARIABLES DE ENTORNO
# ==============================================================================

# ----------------- BACKEND (api_obtencion) -----------------
PORT=3010

# Base de Datos Oracle SIGECOF
ORACLE_HOST=172.21.65.90
ORACLE_PORT=1521
ORACLE_SERVICE_NAME=estatal
ORACLE_SID=cert_rep
ORACLE_USER=ONT_SIR_BOT
ORACLE_PASSWORD=ONT_SIR_BOT123456

# Base de Datos PostgreSQL (Usuarios, Depuración y Auditoría)
PG_HOST=10.78.30.63
PG_PORT=5432
PG_DATABASE=xmls
PG_USER=ont
PG_PASSWORD=123456

# Seguridad y Autenticación JWT
JWT_SECRET=SIRONT_SECRET_KEY_2026_VENEZUELA

# ----------------- FRONTEND (orquestador-ui) -----------------
FRONTEND_PORT=3002
API_BACKEND_URL=http://localhost:3010
CATALOGO_API_URL=http://10.46.0.189:3000
